* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

section {
    width: 1040px;
}

.banner {
    width: 100%;
    margin-top: 50px;
    background-color: #161616;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info {
    margin-left: 106px;
    margin-right: 20px;
}

.banner-img {
    margin-right: 79px;
    margin-top: 33px;
}

.banner-info,
.banner-img {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.banner-info h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.banner-info img {
    width: 23px;
    float: right;
}

.banner-info p {
    font-size: 14px;
}

.banner-info a {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    border-radius: 5px;
    width: 126px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;

}