* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

section {
    margin: 10px 40px;
    margin-bottom: 20px;
}

:root {
    --black-color-: #161616;
}

/* banner */

.banner {
    width: 100%;
    margin-top: 50px;
    background-color: var(--black-color-);
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info {
    margin-left: 106px;
    margin-right: 20px;
}

.banner-img {
    margin-right: 79px;
    margin-top: 33px;
}

.banner-info,
.banner-img {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.banner-info h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.banner-info img {
    width: 23px;
    float: right;
}

.banner-info p {
    font-size: 14px;
}

.banner-info a {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    border-radius: 5px;
    width: 126px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;

}

/* second-section */
.information-list {
    width: 100%;
    background-color: var(--black-color-);
    border-radius: 8px;
    padding: 20px;
}

.information-list ul {
    list-style-type: none;
    text-align: center;
    color: var(--black-color-);
    font-size: 20px;
}

.information-list li {
    padding: 20px 40px;
    background-color: white;
    margin: 22px;
    border-radius: 9px;
    font-weight: bold;
}

.information-list li a {
    text-decoration: none;
}

#list-blog-text {
    background-color: #DD0000;
    color: white;
}

/* cards */
.second-section {
    display: flex;
    align-items: flex-start;
    grid-gap: 10px;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.card {
    height: 362px;
    width: 312px;
    border: 2px solid rgb(243, 239, 239);
    border-radius: 10px;
}

.card-info {
    padding: 15px;
}

.icons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.icon {
    margin-right: 20px;
    height: 10px;
    align-items: center;
}

.icon img {
    margin-right: 10px;
}

.transfer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 12px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    font-weight: 900;
}

/* flag for upcoming match */
.card-flag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.card-flag-info {
    margin-top: 80px;
    text-align: center;
}

.card-flag-text {
    font-weight: bolder;
    font-size: 20px;
    color: #161616;
}

@media only screen and (max-width:992px) {
    .banner {
        padding-top: 20px;
    }

    .banner-info {
        padding-bottom: 20px;
    }

    .banner-info h1 {
        font-size: 25px;
        line-height: 1.5em;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .second-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-gap: 10px;
    }

    .information-list {
        margin-left: -39px;
        background-color: white;
    }

    .information-list ul {
        display: flex;
        justify-content: space-between;
    }

    .information-list li {
        border: 1px solid rgb(189, 186, 186);
    }
}

@media only screen and (max-width:688px) {
    .banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-info h1 {
        font-size: 21px;
        line-height: 1.5em;
    }

    .banner-info p {
        font-size: 14px;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .banner-img {
        align-items: center;
        width: 100%;
        height: 100%;
        margin-right: 0px;
        margin-top: 0px;
    }

    .banner-img img {
        width: 80%;
    }

    .banner-info {
        align-items: center;
        text-align: center;
        width: 254px;
        height: 211px;
        margin: 0 auto;
        padding: 40px 40px 0 40px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .information-list ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information-list li {
        margin-left: 57px;
    }

    .footer-list ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}

/* footer */
footer {
    background-color: var(--black-color-);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 100px 0;
}

.footer-list ul {
    list-style-type: none;
    margin: 0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-list li {
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    margin: 0 20px;
}

hr {
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 0;
}

#goal {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}